/* the styles for the elements */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 800px;
  margin: 0 auto;
  border: 3px solid #931420;
  background-color: #fffded;

}

#nav_menu ul {
    
    list-style-type: none;
    position: relative;
    margin: 0;
    padding:0;
    
}


#nav_menu ul li{
    
    float:left;
    
    
}

#nav_menu ul li a{
    
    display:block;
    width:125px;
    text-align: center;
    padding: 1em 1em;
    text-decoration:none;
    background-color: #800000;
    color:white;
    font-weight: bold;
}

#nav_menu ul li a.current{
    
    color: yellow;
    
}

#nav_menu ul ul{
    
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li{
    float:none;
}

#nav_menu ul li:hover>ul{
    display: block;
}

#nav_menu>ul::after{
    
    content: "";
    display: block;
    clear: both;
}




main section {
    
    width:525px;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

article {
   padding: .5em 0;
   border-top: 2px solid #800000;
   border-bottom: 2px solid #800000;
}
article h2 {
   padding-top: 0;
}
article h3 {
   font-size: 105%;
   padding-bottom: .25em;
}
article img {
   float: right;
   margin: .5em 0 1em 1em;
   border: 1px solid black;
}

main aside {
    
    width:215px;
    float:right;
    padding-left: 20px;
    padding-bottom: 20px;
}

main section h2{
    font-size: 130%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;
}

main aside h2{
    font-size: 130%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;
    
}

main aside h3{
    font-size:105%;
    padding-bottom: .25em;
}

main aside img{
    padding-bottom: 1em;
}

footer{
    clear: both;
}
html{
    
    background-color: white;
}
/* the styles for the header */
header h2{
        font-size: 170%;
        color: #800000;
        
        
    }
header h3{
        font-size: 130%;
        font-style:italic;
        
    }  


header img {
	float: left;    
    padding-right: 30px;
    padding-left: 30px;
}



header {
    
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
}

*{
  
  margin: 0;
  padding: 0;
  
}

/* the styles for the section */

main {
    

	clear: left;
    
    

    
    h1{
        font-size: 130%;
        
        
    }
     
    h2{
        font-size:130%;
        color:#800000;
        
    }
    
    h3{
        font-size:105%;
    }
}

main h1{
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    padding-top: .5em;
    padding-bottom: .25em;
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 0;
}

main h2{
    padding-top: .5em;
    padding-bottom: .25em;
}

main h3{
  
    padding-bottom: .25em;
}
main img{
  padding-bottom: 1em;
}

main p {
  padding-bottom: .5em;
}

main blockquote {
  padding-right: 2em;
  padding-left: 2em;
}


ul {
  padding-bottom: .25em;
  padding-left: 1.25em;
}

li {
  padding-bottom: .35em;
}
/* the styles for the footer */

a:hover{
    
    font-style:italic;
}

a:focus{
    
    font-style:italic;
}

footer {
    
    text-align: center;
    background-color: #931420;
    color: white;
}

footer p {
  padding-top: 1em;
  padding-bottom: 1em;
}

blockquote {
  font-style: italic;
}
